body{
	margin: 0;
	padding: 0;
    font-family: sans-serif;
}
.responsive-bar{
    display: none;
}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .5s;
    z-index: 1000;
}
nav.black{
    background: rgba(0,0,0,0.8);
    height: 80px;
    padding: 10px 50px;
}
nav .logo{
    float: left;
}
nav .logo img{
    height: 80px;
    transition: .5s;
}
nav.black .logo img{
    height: 60px;
}
nav > ul{
    width: 80%;
    margin: 0 auto;
    padding: 0;
    float: right;
}
nav > ul > li{
    list-style: none;
    display: inline-block;
}
nav > ul > li > a:hover{
    background: #f00;
    color: #fff;
}
nav > ul > li > a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase; /*for capitalisation of letters */
    line-height: 80px;
    padding: 5px 20px;
    transition: .5s;   
}
nav.black > ul > li > a{
    color: #fff;
    line-height: 60px;
}

section.sec1{
    width: 100%;
    height: 100vh;
    background: url(https://i.pinimg.com/originals/eb/19/a4/eb19a4aaa1ef7bff73e0331f3dff1376.jpg);
    background-size: cover;
}
section.content{
    margin: 0;
    padding: 0;
    font-size: 1.1em;
}

@media(max-width:768px){
    .responsive-bar{
        display: block;
        width: 100%;
        height: 60px;
        background: #262626;
        position: fixed;
        top: 0;
        left: 0;
        padding: 5px 20px;
        box-sizing: border-box;
        z-index: 1;
    }
    .responsive-bar .logo img{
        float: left;
        height: 50px;  
    }
    .responsive-bar .menu i{
        float: right;
        color: #fff;
        margin: 0;
        padding: 0;
        line-height: 50px;
        cursor: pointer;
        text-transform: uppercase;
    }
    nav{
        padding: 0;
    }
    nav,
    nav.black{
    background: #262626;
    height: 60px;
    padding: 0;
    }
    nav .logo{
        display: none;
    }
    nav ul{
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        background: #262626;
        float: none;
        display: none;
    }
    nav ul.active{
        display: block;
    }
    nav ul li{
        width: 100%;
    }
    nav ul li a{
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        line-height: 30px !important;
        color: #fff;
        
    }

    nav > ul{
        width: 100%;
        display: none;
    }
    nav > ul > li{
        display: block;
        text-align: center;
    }
    .active{
        display: block;
    }
}
.container {
    
    height: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-box {
    background-color: rgba(255, 255, 255,0.2); /* White with 80% opacity */
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 700px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 0;
}

button {
    background-color:#5F6F65;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #708871;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 100%;
    min-height: 100vh;
}
.top1{
    width: 80%;
    padding: 30px 0;
    text-align: center;
}
.img-content{
    padding: 10%;
}
.img-content h1{
    font-size: 30px;
    margin-bottom: 15px;
}
.main-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-row-gap: 25px;
    grid-column-gap:25px ;
}
.main-content .box{
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
    height: 250px;
    overflow: hidden;
}
.main-content .box::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    transition: all 0.5s ease-in-out;
}
.main-content .box:hover::before{
    top: 0;
    right: calc(100% - 5px);
    z-index: 1;
}
.main-content .box img{

    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-content .box .img-text{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;

    width: 100%;
    height: 100%;

    right: 100%;
    transition: all 0.5s ease-in-out;
}
.main-content .box:hover .img-text{
    top: 0;
    right: 0;
